<template>
  <div class="login">
    <div class="input-contain">
      <input
        id="fname"
        v-model="password"
        type="password"
        name="fname"
        autocomplete="off"
        aria-labelledby="placeholder-fname"
        @blur="isTyping = false"
        @input="handlePasswordInput"
        @keyup.enter="handlePasswordEnter"
      />
      <label
        id="placeholder-fname"
        class="placeholder-text"
        for="fname"
        :class="{ full: password !== '' }"
      >
        <div class="text">Password</div>
      </label>
    </div>
    <p class="password-error">{{ passwordError }}</p>
    <button class="button" @click="checkPassword">Submit</button>
  </div>
</template>

<script>
export default {
  name: 'LoginPage',
  layout: 'default',
  data() {
    return {
      password: '',
      customPasswordError: '',
      isTyping: false,
      submitted: false,
    };
  },
  computed: {
    passwordError() {
      if (!this.isTyping) {
        if (this.customPasswordError !== '') {
          return this.customPasswordError;
        }

        if (!this.password && this.submitted) {
          return 'Password is empty';
        }
      }

      return '';
    },
  },
  methods: {
    handlePasswordInput() {
      this.isTyping = true;
      this.customPasswordError = '';
    },
    handlePasswordEnter() {
      this.isTyping = false;
      this.checkPassword();
    },
    checkPassword() {
      this.submitted = true;
      if (this.password === this.$config.password) {
        this.$cookiz.set('portal-pass', true, {
          maxAge: 60 * 10,
        });
        this.$router.push('/');
      } else {
        this.customPasswordError = 'Wrong password';
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@mixin active-label {
  background-color: white;
  font-size: 1.1rem;
  color: black;
  transform: translate(0, -170%);
}

.login {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 400px;

  .password-error {
    color: #ff5252 !important;
    font-size: 14px;
  }

  .input-contain {
    position: relative;
  }

  input {
    height: 4rem;
    width: 360px;
    border: 2px solid black;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding: 0 1.2rem;

    &:focus {
      outline: none;
      border-color: #ef7b4d;
    }
  }

  .placeholder-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid transparent;
    background-color: transparent;
    pointer-events: none;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 0 1.2rem;

    &.full {
      .text {
        @include active-label;
      }
    }

    .text {
      font-size: 1.4rem;
      padding: 0 0.5rem;
      background-color: transparent;
      transform: translate(0);
      color: black;
      transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out,
        color 0.15s ease-out;
    }
  }

  input:focus + .placeholder-text .text {
    @include active-label;
    border-color: #ef7b4d;
    color: #ef7b4d;
  }

  @media (max-width: 40rem) {
    input {
      width: 70vw;
    }
  }
}
</style>
