body {
  @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
  font-family: 'Nunito', sans-serif;
}

.table {
  border-radius: 8px !important;
  border: thin solid rgba(0, 0, 0, 0.12);
  width: max-content;
  text-align: center;
  margin-top: 30px;
  border-collapse: collapse;

  .header {
    background-color: #28234a;
    color: #fffafa;
    padding: 0;
    margin: 0;

    .header-cell {
      color: #fffafa;
      text-align: left;
      height: 54px;
      padding: 0 32px;
    }
  }

  .table-row {
    cursor: pointer;
    &:hover {
      background: #eeeeee;
    }

    .table-cell {
      padding: 0 32px;
      height: 54px;
      border-bottom: thin solid rgba(0, 0, 0, 0.12);
    }
  }
}

.button {
  background-color: #ef7b4d;
  color: white;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 800;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  border-color: rgba(239, 123, 77, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 9999px;
  width: 100%;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  text-decoration: none;
  margin-top: 16px;
  display: block;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 #0000, 0 0 #0000, 0 20px 50px -15px rgba(239, 123, 77, 0.3);
  }
}
