<template>
  <div class="details">
    <div v-if="error" class="error-state">
      <p class="error">
        {{ error }}
      </p>
      <nuxt-link to="/" class="button"> Go Back to Home page </nuxt-link>
    </div>
    <template v-else>
      <div class="component">
        <ul class="showroom-list">
          <li>Company: {{ showroom.company }}</li>
          <li>Location: {{ showroom.location }}</li>
          <li>Showroom: {{ showroom.showroom }}</li>
        </ul>
        <table class="table">
          <thead class="header">
            <tr>
              <th v-for="header in devices.headers" :key="header" class="header-cell">
                {{ header }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="row in devices.rows" :key="row.key" class="table-row" @click="openLogs(row)">
              <td v-for="value in Object.values(row)" :key="getUniqueId(value)" class="table-cell">
                {{ value }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="component">
        <h1 v-if="logs.error" class="error">
          {{ logs.error }}
        </h1>
        <div v-else class="logs-table-wrapper">
          <table class="table">
            <thead class="header">
              <tr>
                <th v-for="header in logs.headers" :key="header" class="header-cell">
                  {{ header }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="row in logs.rows" :key="row.int" class="table-row">
                <td
                  v-for="value in Object.values(row)"
                  :key="getUniqueId(value)"
                  class="table-cell"
                >
                  {{ value }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  name: 'DetailsPage',
  data() {
    return {
      showroom: {},
      error: '',
      devices: {
        headers: [],
        rows: [],
      },
      logs: {
        error: '',
        deviceName: '',
        headers: [],
        rows: [],
      },
    };
  },
  async mounted() {
    const { id } = this.$route.params;
    this.showroom = this.$route.query;

    const devices = await this.$axios.$get(
      `https://d2fkti5ezd.execute-api.eu-west-1.amazonaws.com/prod/showroom?companyID=${id}`
    );

    if (devices.toString() === '') {
      this.error = 'No data was fetched for this showroom';
    } else {
      const sections = devices.toString().split('},');
      sections.forEach(section => {
        if (section.length) {
          const loc = JSON.parse(`${section}}`);
          this.devices.rows.push({
            ...loc,
            key: Math.random() * Math.random(),
          });
        }
      });
      this.devices.headers = Object.keys(this.devices.rows[0]);
    }
  },
  methods: {
    async openLogs(id) {
      this.logs = {
        error: '',
        deviceName: '',
        headers: [],
        rows: [],
      };
      const { deviceID, dnsname } = id;
      if (deviceID && dnsname) {
        const logs = await this.$axios.$get(
          `https://d2fkti5ezd.execute-api.eu-west-1.amazonaws.com/prod/device?deviceID=${deviceID}&dnsname=${dnsname}`
        );
        this.handleLogsResult(logs);
      } else {
        this.logs.error = 'No deviceID or dnsname';
      }
    },
    handleLogsResult(logs) {
      if (logs.toString() === '') {
        this.logs.error = 'No data was fetched for this deviceId';
      } else {
        this.logs.error = '';
        const sections = logs.toString().split('},');
        sections.forEach(section => {
          if (section.length) {
            const log = JSON.parse(`${section}}`);
            this.logs.rows.push(log);
          }
        });
        this.logs.headers = Object.keys(this.logs.rows[0]);
      }
    },
    getUniqueId() {
      return `${Math.random()}${Math.random()}`;
    },
  },
};
</script>

<style lang="scss" scoped>
.details {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    text-align: center;
  }

  .error-state {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 400px;
  }

  .error {
    color: #ff5252 !important;
    text-align: center;
    font-size: 24px;
  }

  .showroom-list {
    list-style: none;
    font-size: 16px;
  }

  .table {
    margin-top: 0;
    text-align: left;
  }

  .logs-table-wrapper {
    margin-top: 20px;
    max-width: calc(100vw - 80px);
    overflow-x: scroll;
    max-height: 500px;

    table {
      position: relative;
      thead {
        background-color: #018786;
        position: sticky;
        top: -1px;
      }
    }
  }
}
</style>
