<template>
  <div class="home">
    <h1 class="title">Select Showroom</h1>
    <table class="table">
      <thead class="header">
        <tr>
          <th v-for="header in headers" :key="header" class="header-cell">
            {{ header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="location in locations"
          :key="location.id"
          class="table-row"
          @click="openDetailsPage(location)"
        >
          <td v-for="value in Object.values(location)" :key="value" class="table-cell">
            {{ value }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  middleware: 'authenticated',
  data() {
    return {
      headers: [],
      locations: [],
    };
  },
  async mounted() {
    const data = await this.$axios.$get(
      'https://d2fkti5ezd.execute-api.eu-west-1.amazonaws.com/prod/company'
    );

    const sections = data.toString().split('},');
    sections.forEach(section => {
      if (section.length) {
        const location = JSON.parse(`${section}}`);
        this.locations.push(location);
      }
    });

    this.headers = Object.keys(this.locations[0]);
  },
  methods: {
    openDetailsPage(location) {
      this.$router.push({
        path: `/${location.id}`,
        query: {
          company: location.company,
          location: location.location,
          showroom: location.showroomname,
        },
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.home {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    text-align: center;
  }
}
</style>
